{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <ul>
        {% for user in users %}
            <li>{{ user.firstName }} : {{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}
